<html lang="ja">

<head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-8KKF9Z8GTB');
    </script>
</head>

<body>
    <div class="l-page l-page--white" data-id="hyper_space">
        <canvas class="p-canvas-webgl" id="canvas-webgl">
            <h1>Hi thete</h1>

        </canvas>
    </div>
    <script src="SpaceParticlesMain.js"></script>
</body>

</html>